.App ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(35, 42, 59);
}

.App ul li {
    display: inline-block;
    margin: 20px;
}

.App a {
    text-decoration: none;
    color: white;
}

.App a:hover,
.App a:active,
.App a.active {
    color: #fad83f;
}