/* .App {
  text-align: center;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.button {
  color: white;
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgreen;
  color: black;
} */
