.Person {
    width: 60%;
    margin: 8px auto;
    background-color: #212327;
    border: 1px solid #eee;
    box-shadow: 0 8px 18px rgb(27, 26, 26);
    padding: 16px;
    text-align: center;
    font-size: calc(1px + 2vmin);
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}
