:root {
  --color-primary: #61dafb;
  --color-secondary: #282c34;
}

.btn {
  padding: 10px 30px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-secondary);
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:active {
  transform: translateY(2px);
}

.btn:hover {
  background-color: #4b5468;
}
