.red {
  color: red;
}

.blue {
  color: blue;
}

.button {
  color: black;
  background-color: #f1cf0d;
  font: inherit;
  border: solid 1px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 8px 8px solid;
  outline-style: none;
}

.button:hover {
  background-color: black;
  color: #f1cf0d;
}

.button.btnRed {
  background-color: rgb(255, 30, 0);
}

.button.btnRed:hover {
  background-color: black;
  color: rgb(255, 30, 0);
}
